<?xml version="1.0"?>
<menu>
    <pizzas>
        <display>Pizzas</display>
        <item>
            <name>Tomato &amp; Cheese</name>
            <price>
                <small>5.50</small>
                <large>9.75</large>
            </price>
        </item>
        <item>
            <name>Onions</name>
            <price>
                <small>6.85</small>
                <large>10.85</large>
            </price>
        </item>
        <item>
            <name>Peppers</name>
            <price>
                <small>6.85</small>
                <large>10.85</large>
            </price>
        </item>
    </pizzas>
    <dinners>
        <display>Special Dinners</display>
        <item>
            <name>Chicken Wing Dinner</name>
            <price>
                7.25
            </price>
        </item>
        <item>
            <name>Gyro Plate</name>
            <price>
                7.25
            </price>
        </item>
        <item>
            <name>Chicken Finger Plate</name>
            <price>
                7.25
            </price>
        </item>
    </dinners>
    <sides>
        <display>Side Orders</display>
        <item>
            <name>Onion Rings</name>
            <price>
                <small>2.60</small>
                <large>2.95</large>
            </price>
        </item>
        <item>
            <name>French Fries</name>
            <price>
                <small>2.25</small>
                <large>2.65</large>
            </price>
        </item>
        <item>
            <name>Spicy Fries</name>
            <price>
                <small>2.60</small>
                <large>2.95</large>
            </price>
        </item>
    </sides>
    <salads>
        <display>Salads</display>

        <item>
            <name>Garden</name>
            <price>
                <small>3.50</small>
                <large>4.50</large>
            </price>
        </item>
        <item>
            <name>Greek</name>
            <price>
                <small>4.50</small>
                <large>5.50</large>
            </price>
        </item>
        <item>
            <name>Antipasto</name>
            <price>
                <small>4.50</small>
                <large>5.50</large>
            </price>
        </item>
    </salads>
    <spaghetti>
        <display>Spaghetti or Ziti</display>
        <item>
            <name>With Sauce</name>
            <price>
                5.40
            </price>
        </item>
        <item>
            <name>With Sausage</name>
            <price>
                6.45
            </price>
        </item>
        <item>
            <name>With Meat Ball</name>
            <price>
                6.45
            </price>
        </item>
    </spaghetti>
    <lasagnas>
        <display>Homemade Lasagna, Ravioli, or Manicotti</display>
        <item>
            <name>With Sauce</name>
            <price>
                6.25
            </price>
        </item>
        <item>
            <name>With Sausage</name>
            <price>
                7.25
            </price>
        </item>
        <item>
            <name>With Meat Ball</name>
            <price>
                7.25
            </price>
        </item>
    </lasagnas>
    <calzones>
        <display>Homemade Calzones</display>
        <item>
            <name>Vegetarian</name>
            <price>
                7.35
            </price>
        </item>
        <item>
            <name>Sausage</name>
            <price>
                7.35
            </price>
        </item>
        <item>
            <name>Ham &amp; Cheese</name>
            <price>
                7.35
            </price>
        </item>
    </calzones>
    <wraps>
        <display>Wraps</display>
        <item>
            <name>Turkey Club Wrap</name>
            <price>
                4.95
            </price>
            <description>
                Turkey, Cheese, Lettuce, Tomato, Onion, Mayo
            </description>
        </item>
        <item>
            <name>Chicken Cobb</name>
            <price>
                4.95
            </price>
            <description>
                Grilled Chicken, Bacon, Cheese, Lettuce, Tomato, Onion, Honey Mustard
            </description>
        </item>
        <item>
            <name>Greek Supreme</name>
            <price>
                4.95
            </price>
            <description>
                Feta Cheese, Black Olives, Lettuce, Tomato, Onion, Greek Dressing
            </description>
        </item>
    </wraps>
    <grinders>
        <display>Grinders</display>
        <item>
            <name>Meatless</name>
            <price>
                <small>4.50</small>
                <large>4.95</large>
            </price>
        </item>
        <item>
            <name>Hamburger</name>
            <price>
                <small>4.50</small>
                <large>4.95</large>
            </price>
        </item>
        <item>
            <name>Cheeseburger</name>
            <price>
                <small>4.75</small>
                <large>5.75</large>
            </price>
        </item>
    </grinders>
</menu>
